body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;

}

.sidebar {
    height: 100vh;
    background-color: #E9D7F0;
}

.custom-main {
    background-color: aqua;
    height: 100vh; 
    /* Ejemplo de altura */
    /* Puedes agregar más estilos personalizados aquí */
}

.sidebar .nav-link.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.main-content h1 {
    padding-top: 20px;
}


@media (max-width: 767.98px) {
    .sidebar {
        display: none;
    }
    .mobile-header {
        display: block;
        
    }
}

@media (min-width: 768px) {
    .mobile-header {
        display: none;
    }
}

@media (max-width: 768px) {
    #tablaMatrimonio .columna-oculta-movil {
        display: none;
    }
}

.arreglo-tamaño {
    width: 60%;
}

/* Cambiar ancho a 50% para pantallas de al menos 568px */
@media (max-width: 568px) {
    .arreglo-tamaño {
        width: 40%;
    }
}


