body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;

}

.sidebar {
    height: 100vh;
    background-color: #E9D7F0;
}

.custom-main {
    background-color: aqua;
    height: 100vh; /* Ejemplo de altura */
    /* Puedes agregar más estilos personalizados aquí */
}

.sidebar .nav-link.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.main-content h1 {
    padding-top: 20px;
}

@media (max-width: 767.98px) {
    .sidebar {
        display: none;
    }
    .mobile-header {
        display: block;
        
    }
}

@media (min-width: 768px) {
    .mobile-header {
        display: none;
    }
}

